$primary-color: #3b6e98;
$secondolor: #95b8d1;
$thirdcolor: #b8e0d2;
$fourthcolor: #809bce;
$fifthcolor: #eac4d5;
$font-base-size: 20px;
$serif-fonts: Georgia, Cambria, "Times New Roman", serif;
$radius_border: 20%;
